* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #06beb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

h1 {
  margin: 3rem 3rem .5rem 3rem;
}

h2 {
  margin-left: 3rem;
  font-size: 1rem;
}

.table {
  width: 90%;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 1rem;
  border-radius: 10px;
}